body {
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(to right,rgba(56, 144, 179, 0.815),rgb(212, 145, 145));
  margin: 0;
}

.calculator {
  width: 300px;
  background-color: black;
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
  padding: 20px;
}

.display {
  width: 100%;
  height: 50px;
  text-align: right;
  font-size: 1.5rem;
  padding: 3px;
  margin-bottom: 20px;
  border: none;
  background-color: #ffe1a8;
  border-radius: 8px;
  color: black;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
}

.button {
  background-color: rgb(92, 132, 145);
  border: none;
  font-size: 1.5rem;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  transition: background-color 0.3s, transform 0.2s;
  color: #121314;
}

.button:hover {
  background: transparent;
  color:rgb(99, 212, 216);
  border: 2px solid yellowgreen;
  transform: scale(1.1);
}

.button:active {
  transform: scale(0.95);
}

.button.clear {
  background-color: #432818;
}

.button.clear:hover {
  background-color: #6f1d1b;
}

.button.equal {
  background-color: #432818;
}

.button.equal:hover {
  background-color: #6f1d1b;
}

.button.operator {
  background-color: #bb9457;
}

.button.operator:hover {
  background-color: #6f1d1b;
}
